<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ConvoMate</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="app">

<!-- TOP BAR -->
<div class="topbar">

<img src="/static/logo.png" class="logo">

<div class="brand">
<div class="title">ConvoMate</div>
<div class="sub">by Arjun Mondal</div>
</div>

</div>

<!-- CHAT -->
<div class="chat" id="chat"></div>

<!-- INPUT -->
<div class="input-bar">

<label class="plus">
+
<input type="file" id="file" hidden>
</label>

<input id="input" placeholder="Ask anything...">

<button onclick="send()">➤</button>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>